<div class='page-header'>
  <h1>ورود</h1>
</div>

<%= link_to user_omniauth_authorize_path(:facebook) do %>
  <img src="http://placehold.it/40x40" alt="facebook login" class='img-rounded' />
  ورود با فیسبوک
<% end %>
