// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ol {
  list-style-type: -moz-persian;
  list-style-type: persian;
}
textarea {
  resize: vertical;
}
div.review {
  border-radius: 15px;
  padding: 10px 7px;
  margin-bottom: 10px;
}
div.review_comment {
  background-color: #E9E9E9;
}
div.review_positive {
  background-color: #E9FFE9; 
}
div.review_negative {
  background-color: #FFE9E9;
}
