<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">چارپایه</a>
      <div class="container nav-collapse">
        <ul class='nav pull-right'>
          <li><%= link_to "ورود با فیسبوک", user_omniauth_authorize_path(:facebook) %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
